<p>Server Name</p>
<!-- <input type="text" class="form-control" (input)="createserver($event)"> -->
<input type="text" class="form-control" [(ngModel)]="servername">
<!-- <p>{{ servername }}</p> -->
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)="onservercreation()">
    Add server
</button>
<!-- <p>{{ allowNewServer }}</p> -->
<!-- <p [innerText]="allowNewServer" ></p> -->
<p *ngIf="servercreated">{{ createserverstatus }}</p>
<app-server></app-server>
<app-server></app-server>